{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container d-flex flex-column  mt-5" style="min-height: 497px">
   <h2 class="text-center">Нарачка {{ order.id }}</h2>
   <div class="row mt-5 justify-content-around">
       <div class="col-5">
           <div class="row border border-1 border-dark rounded">
               <h6>Испорака</h6>
               <p>Име: {{ shippingInfo.name }} {{ shippingInfo.surname }}</p>
               <p>Адреса: {{ shippingInfo.address }} {{ shippingInfo.city }}</p>
               {% if order.isDelivered %}
                   <div class="rounded bg-primary">Доставено на: {{ order.deliveredAt.day }}.{{ order.deliveredAt.month }}.{{ order.deliveredAt.year }} {{ order.deliveredAt.hour }}:{{ order.deliveredAt.minute }}:{{ order.deliveredAt.second }}</div>
               {% elif order.isShipped%}
                    <div class="rounded bg-primary">Испратено на: {{ order.shippedAt.day }}.{{ order.shippedAt.month }}.{{ order.shippedAt.year }} {{ order.shippedAt.hour }}:{{ order.shippedAt.minute }}:{{ order.shippedAt.second }}</div>
               {% else %}
                    <div class="rounded w-50 mb-3 ms-3 pt-2 pb-2" style="background-color: #14C7DF">Вашата нарачка се процесира</div>
               {% endif %}
           </div>
            <div class="row border border-1 mt-5 border-dark rounded">
               <h6>Продукти</h6>
               {% for cartItem in cartItems %}
                    <div class="row ms-0 me-0 align-items-center mt-0" style="height: 80px;background-color: lightgray">
                        <img class="col-3 img-fluid h-75"  src="{{ MEDIA_URL }}{{ cartItem.product.image.url }}">
                        <h6 class="col-3">{{ cartItem.product.productName }}</h6>
                        <h5 class="col-3">{{ cartItem.quantity }}</h5>
                        <h5 class="col-3">{{ cartItem.product.price }}ден</h5>
                    </div>
               {% endfor %}
           </div>
       </div>
       <div class="col-5">
           <div class="row border border-1 border-dark rounded">
               <h6>Нарачка</h6>
               <div class="row justify-content-between">
                   <p class="col-6">Продукти:</p>
                   <p class="col-6 text-end">{{ order.itemsPrice }}.00 ден</p>
               </div>
               <hr style="width: 90%;margin: auto">
               <div class="row justify-content-between">
                   <p class="col-6">Испорака:</p>
                   <p class="col-6 text-end">{{ order.shippingPrice }}.00 ден</p>
               </div>
               <hr style="width: 90%;margin: auto">
               <div class="row justify-content-between">
                   <p class="col-6"><strong>Вкупно:</strong></p>
                   <p class="col-6 text-end"><strong>{{ order.totalPrice }}.00 ден</strong></p>
               </div>
           </div>
       </div>
   </div>
</div>

{% endblock content %}